.palette {
    position: absolute;
    top: 40%;
    left: 76.5%;
    width: 100%;
    border-radius: 10%;

    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 20px 20px rgba(0, 0, 0, 0.22);
    margin: 10%;
}