.video-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  border-radius: 1rem;
  transition: 0.5s;
  width: 100%;
  padding: 3%;
  animation: 5s ease infinite;
  background-image: linear-gradient(
    #ffdb3b 10%,
    #fe53bb 45%,
    #8f51ea 67%,
    #0044ff 87%
  );
}

.video-container video {
  width: 100%;
  height: 90%;
}

.video-container .participant-data {
  position: absolute;
  top: 0;
  left: 0;
}

.participant-data p {
  background: #f8f8f8;
  margin: 0;
  padding: 0 5px;
  color: #777777;
  font-weight: bold;
  border-bottom-right-radius: 4px;
}

/* Media Queries */
@media screen and (max-width: 480px) {
  .video-container {
    aspect-ratio: 9/16;
  }
}
