.sidebar {
  position: relative;
  border-radius: 10px;
  height: 85%;
  padding: 15px;
  background-color: rgba(130, 20, 157, 0.589);
  margin-bottom: 5%;
}

@media screen and (min-height: 1300px) {
  .sidebar {
    height: 60%;
  }
  .title-section {
    font-size: 60px;
  }
}

.sidebar img {
  position: absolute;
  top: 0;
  left: 0;
  height: 700px;
  z-index: 0;
}

.sidebar .player-section {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.title-section {
  position: relative;
  z-index: 1;
  color: white;
  font-size: 50px;
  font-style: italic;
}