.home.background {
  background-image: url('/images/background-img.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
}

/* 카카오 로그인 버튼 */
.home .login-btn {
  display: inline-block;
  width: 273px;
  padding: 0;

  border: none;
  border-radius: 8px;
  cursor: pointer;

  position: absolute;
  bottom: 80px;

  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 20px 20px rgba(0,0,0,0.22);
  transition: transform 0.4s;
}

.login-btn img {
  display: block;
  width: 100%;
  height: auto;  
}

/* 게임 시작 버튼 */
.home .img-button {
  display: flex;
  justify-content: center;
  align-items: center; 

  height: 94px;  
  width: 280px;
  
  border: none;
  border-radius: 100px;
  cursor: pointer;
  box-sizing: border-box;
  overflow: hidden;

  position: absolute;
  bottom: 70px;

  background-color: transparent;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 20px 20px rgba(0,0,0,0.22);
  transition: transform 0.4s;
} 

.home .btn-start {
  position: absolute;
  font-size: 50px;
  font-weight: bold;
  color: #fff;
}

.home .img-button:hover, .login-btn:hover {
  box-shadow: 0 24px 38px rgba(0,0,0,0.25), 0 20px 20px rgba(0,0,0,0.22);
  transform: scale(1.1);
}