.home.background {
  background-image: url('/images/background-img.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
}

/* 로고 */
.home-title {
  height: 15%;
  width: 70%;
  min-width: 1060px;

  position: relative;
  top: 25%;

  font-family: "keania One";

  display: flex;
  justify-content: center;
  align-items: center;
}
.logo-title {
  position: absolute;
  width: 100%;
  text-align: center;
  font-size: 8vw;
}
.logo-title#black {
  top: 20px;
  left: 15px;
}
.logo-title#white {
  color: white;
  top: 0;
}

#home-logo {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 20%;
  object-fit: cover;
}


/* 카카오 로그인 버튼 */
.home .login-btn {
  display: inline-block;
  width: 273px;
  padding: 0;

  border: none;
  border-radius: 8px;
  cursor: pointer;

  position: absolute;
  bottom: 80px;

  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 20px 20px rgba(0,0,0,0.22);
  transition: transform 0.4s;
}

.img-button > img {
  position: absolute;
  width: 19vw;
  aspect-ratio: 1 / .35;
}

/* 게임 시작 버튼 */
.home .img-button {
  display: flex;
  justify-content: center;
  align-items: center; 

  width: 18vw;
  aspect-ratio: 1 / .34;
  
  border: none;
  border-radius: 100px;
  cursor: pointer;
  box-sizing: border-box;

  position: absolute;
  bottom: 13%;

  background-color: transparent;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 20px 20px rgba(0,0,0,0.22);
  transition: transform 0.4s;
} 

.home .btn-start {
  position: absolute;
  font-size: 3.5vw;
  font-weight: bold;
  color: #fff;
}

.home .img-button:hover, .login-btn:hover {
  box-shadow: 0 24px 38px rgba(0,0,0,0.25), 0 20px 20px rgba(0,0,0,0.22);
  transform: scale(1.1);
}