.keyword {
  position: absolute;;
  top: 0;

  transform: translate(0%, 0%);

  width: 100%;
  height: 20%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.keyword .container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.keyword header {
  position: relative;

  height: 100%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.keyword h1,
.keyword span.copy {
  font-family: "Lilita One", cursive;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000,
    2px 2px 0 #000;
  font-size: 7rem;
  display: block;
  position: absolute;
  line-height: 1;
}

.keyword h1 {
  color: #e7e7e7;
  z-index: 50;
}

.copy-1 {
  transform: perspective(500px) translate3d(0, 0, -15px);
  color: #f24c00;
  z-index: 40;
}

.copy-2 {
  transform: perspective(500px) translate3d(0, 0, -30px);
  color: #9792e3;
  z-index: 30;
}

.copy-3 {
  transform: perspective(500px) translate3d(0, 0, -45px);
  color: #fc7a1e;
  z-index: 20;
}

.copy-4 {
  transform: perspective(500px) translate3d(0, 0, -60px);
  color: #eda96d;
  z-index: 10;
}