/* 행성 */
.item-hints {
  /* 행성 사이즈 조절 여기서 하면 됨 */
  width: 31%;
  position: absolute;
}
.item-hints .hint {
  display: flex;
  justify-content: center;
  align-items: center;
}
.item-hints .hint-dot {
  position: relative;
  z-index: 3;

  -webkit-transform: translate(-0%, -0%) scale(0.95);
  transform: translate(-0%, -0%) scale(0.95);
}

.locked-planet {
  width: 80%;
}

.item-hints .hint-dot img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: contain;

  filter: drop-shadow(0 0 2px rgba(252, 255, 253, 0.7))
    drop-shadow(0 0 5px rgba(237, 255, 243, 0.7))
    drop-shadow(0 0 15px rgba(243, 255, 246, 0.7));
  z-index: 5;
}

.item-hints .hint-content {
  position: absolute;
  top: 0;
  left: 0;

  z-index: 5;
  padding: 35px 0;
  opacity: 0;
  transition: opacity 0.7s ease, visibility 0.7s ease;
  color: #fff;
  visibility: hidden;
  pointer-events: none;
}

.item-hints .hint:hover .hint-content {
  position: absolute;
  z-index: 5;
  padding: 35px 0;
  opacity: 1;
  -webkit-transition: opacity 0.7s ease, visibility 0.7s ease;
  transition: opacity 0.7s ease, visibility 0.7s ease;
  color: #fff;
  visibility: visible;
  pointer-events: none;
}
.item-hints .hint-content::before {
  width: 0px;
  bottom: 29px;
  left: 0;
  content: "";
  background-color: #fff;
  height: 1px;
  position: absolute;
  transition: width 0.4s;
}
.item-hints .hint:hover .hint-content::before {
  width: 180px;
  transition: width 0.4s;
}
.item-hints .hint-content::after {
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transform: rotate(-225deg);
  transform: rotate(-225deg);
  bottom: 29px;
  left: 0;
  width: 80px;
  content: "";
  background-color: #fff;
  height: 1px;
  position: absolute;
  opacity: 1;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
.item-hints .hint:hover .hint-content::after {
  opacity: 1;
  visibility: visible;
}
.item-hints .hint-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45%;
  top: -6%;
  left: 85%;
  font-size: 1.5rem;
  font-weight: 900;
  text-shadow: 0 0 6px rgba(255, 0, 0, 0.92),
    0 0 30px rgba(202, 228, 225, 0.34), 0 0 12px rgba(30, 132, 242, 0.52),
    0 0 21px rgba(150, 242, 30, 0.92), 0 0 34px rgba(30, 132, 242, 0.78),
    0 0 54px rgba(30, 132, 242, 0.92);
}

.hintBtn {
  border: 1px solid blue;
  filter: drop-shadow(0 0 16px rgba(255, 255, 255, 0.9));
  margin-left: 100%;
  margin-bottom: 250%;
  width: 80%;
  border-radius: 50%;
}

.hint-dot {
  position: relative;
}
