.game1-result {
  font-size: 1.6rem;
  font-family: "Keania One";

  display: flex;
  height: 20%;
  margin-bottom: 14px;
  width: 110%;
}
.game1-result .win,
.lose {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 2.5rem;
  color: white;
  
  min-width: 15%;
  margin-right: 5%;
  
  text-shadow: #ffffff 3px 3px;
}
.game1-result > .win {
  color: red;
}
.game1-result > .lose {
  color: slategray;
}
.playerResult {
  width: 100%;
  background-color: rgba(145, 161, 175, 0.704);

  display: flex;

  border-radius: 30px;
  background: #e0e0e0;
  box-shadow: 0px 5px 10px #bebebe, 0px -5px 10px #ffffff;
}
.playerResult * {
  text-align: center;
  font-size: 1.75rem;

  height: 90%;

  display: flex;
  justify-content: center;
  align-items: center;
}
.leftItem {
  width: 25%;
}
.playerResult > .nickname {
  width: 50%;
}
.nickname .liar-icon {
  height: 60%;

  margin-right: 10px;
}
.nickname .liar-icon img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.originScore {
  width: 25%;
}
/* .plusScore {
  width: 10%;
} */
