.timer {
    width: 140px;
    height: 140px;
    border-radius: 50%;
}

.galactic-phone-timer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    background-color: #1a1a1a;
    border: 5px solid #333;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.galactic-phone-timer-screen {
    width: 160px;
    height: 60px;
    background-color: #000;
    border: 3px solid #333;
    border-radius: 10px;
    overflow: hidden;
}

.galactic-phone-timer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #00ff00;
    font-size: 24px;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 3px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}