.board .content_section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.board .content_section h4 {
  font-size: 25px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.board .content_section .content_viewer {
  background-color: rgba(171, 158, 158, 0.2);
  border-radius: 10px;
  width: 80%;
  padding: 20px;
  min-height: 200px;
}

.board .content_section .content_viewer p {
  font-size: 20px;
}