.game.container {
  /* 캔버스 고정 사이즈 */
  width: 1300px;
  height: 650px;
  display: flex;
  position: relative;
}

.game .left-section {
  margin-left: 2%;
  margin-right: 2%;
  width: 11%;
  height: 100%;
  /* background-color: aqua; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* center */
.game .center {
  width: 70%;
  height: 100%;
}

.keyword-title {
  position: absolute;
  top: 8%;
  z-index: 6;
}

.keyword {
  height: 7%;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 2rem;
  font-weight: 700;

  margin-bottom: 2%;

  padding: 3%;
  background-color: rgb(255, 255, 255);

  border-radius: 10px;
}

/* hr {
  border: 0px;
  width: 100%;
  height: 0.3rem;
  background: linear-gradient(
    to left,
    transparent,
    rgb(177, 176, 238),
    transparent
  );
  z-index: 7;
} */

.drawing-container {
  filter: drop-shadow(0px 10px 10px #4444dd);

  border-radius: 1rem;
  width: 100%;
  height: 90%;
  margin-bottom: 5%;
}
.canvas-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 6%;
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 1rem;
  filter: drop-shadow(0px 10px 10px #4444dd);
}

/* right section css */
.game .right-section {
  width: 18%;
  height: 100%;
  padding: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.right-section .clock {
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cockpit {
  width: 200vw;
  height: 10vh;
  position: absolute;
  bottom: 0;
}

.mainwrap {
  background-color: white;
  z-index: 9999;
  width: 100%;
  height: 90%;
  position: relative;
}