.gaugebar {
  width: 98%;
  height: 6%;

  border: 5px solid #DAA520;
  border-radius: 20px;

  box-shadow: 
    -0.05rem -0.05rem 0.08rem rgba(252, 230, 151, 0.6), 0.05rem 0.05rem 0.1rem #DAA520, 
    inset 0.5rem 0.5rem 2rem rgb(73 73 106 / 50%), 
    inset 0.1rem 0.1rem 0.2rem rgba(238, 246, 104, 0.75), 
    inset -0.5rem -0.5rem 4rem #DAA520;

  animation: size1 0.5s linear infinite 20s,
            size2 0.3s linear infinite 22s,
            vibrationAndScale1 0.2s linear infinite 25s,
            vibrationAndScale2 0.1s infinite 27s;
}

@keyframes size1 {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.01);
  }
}

@keyframes size2 {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.02);
  }
}

@keyframes vibrationAndScale1 {
  from {
    transform: rotate(0.15deg);
    transform: scale(1);
  }
  to {
    transform: rotate(0.15deg);
    transform: scale(1.03);
  }
}

@keyframes vibrationAndScale2 {
  from {
    transform: rotate(0.3deg);
    transform: scale(1);

  }
  to {
    transform: rotate(-0.3deg);
    transform: scale(1.04);
  }
}

.loader {
  width: 100%;
  height: 100%;

  display: inline-block;
  position: relative;
  
  /* background: linear-gradient(90deg, #DAA520, red); */
  box-shadow: 10px 0px 15px 0px #DAA520;
  box-sizing: border-box;

  border-radius: 20px;

  animation: animFw 30s linear infinite, 
            progress-animation 30s linear infinite;
}

@keyframes progress-animation {
  0% {
    background-color: #DAA520;
  }
  70% {
    background-color: #da7420;
  }
  100% {
    background-color: red;
  }
}

.loader::after,
  .loader::before {
  content: '';
  width: 10px;
  height: 1px;
  background: #FFF;
  position: absolute;
  top: 30px;
  right: -2px;
  opacity: 0;
  transform: rotate(-45deg) translateX(0px);
  box-sizing: border-box;
  animation: coli1 0.3s linear infinite;
}

.loader::before {
  top: -4px;
  transform: rotate(45deg);
  animation: coli2 0.3s linear infinite;
}

@keyframes animFw {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

@keyframes coli1 {
  0% {
    transform: rotate(-45deg) translateX(0px);
    opacity: 0.7;
  }

  100% {
    transform: rotate(-45deg) translateX(-45px);
    opacity: 0;
  }
}

@keyframes coli2 {
  0% {
    transform: rotate(45deg) translateX(0px);
    opacity: 1;
  }

  100% {
    transform: rotate(45deg) translateX(-45px);
    opacity: 0.7;
  }
}
  
.rocket {
  position: absolute;
  top: -4px;
  right: -30px;

  height: 130%;
  animation: vibrationAndScale1 0.2s linear infinite 25s,
            vibrationAndScale2 0.1s infinite 27s;
}