.result {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.result > .title {
  position: relative;

  font-size: 3rem;
  margin-bottom: 3%;
  font-family: "Keania One";

  width: 57vw;
  max-width: 57vw;
  height: 18vh;
}
.player-list {
  display: flex;
  gap: 10px;
}
.player-list .player-video{
  width: 304px;
  height: 226px;

  border-radius: 10px;

  background-color: #ffffff;
}

.result > .homeBtn {
  margin-top: 3%;

  width: 160px;
  height: 45px;

  border-radius: 15px;
  border: none;

  font-weight: 700;
  font-size: 1.3rem; 

  background-color: rgba(145, 161, 175, 0.704);
}

/* 여기서부터 새로 작성 */
.title-img {
  display: block;
  width: 79%;
  height: auto;
  object-fit: cover;
}
.title strong {
  position: absolute;
  top: 17px;
  left: 473px;

  font-size: 5rem;
}

.result-title {
  width: 100%;
  max-width: 636px;
  
  display: flex;
  justify-content: center;
  
  background-image: url('/images/game/game1_result/ribbon.png'); 
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto; /* 세로 길이를 div 요소에 맞춤 */

  padding-top: 16px;

  color: white;
  letter-spacing: 5px;
}

.player-list .nick {
  text-align: center;
  color: white;
}