.vote-container-wrap {
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.vote-container {
    width: 70%;
    height: auto;
}

.vote-gaugebar-wrap {
    width: 71.5%;
    height: 100vh;
    position: fixed;

    margin-top: 6rem;
}

.vote-title-container {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 3rem;
}

.vote-title {
    font-family: "Keania One";
    font-size: 3rem;
    font-weight: 900;
    color: rgb(0, 0, 0);
    filter: drop-shadow(5px 5px 5px gray);
}

.vote-image-container {
    height: 100%;

    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(2, 50%);

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    background-color: white;
    border-radius: 1rem;
    filter: drop-shadow(0px 10px 10px #4444dd);
    margin-bottom: 2rem;
    padding: 10px 20px;
}

.vote-image-container:hover {
    cursor: url("/images/cursor_1.png") 20 30, auto !important;
}

.vote-user-painting-image-wrap {
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;

    box-shadow: blue 0px 0px 15px 15px;
    margin: 3%;
    border-radius: inherit;
}

.vote-voted-cnt {
    width: 100px;
    height: 100px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: black;
    position: absolute;
    top: -20px;
    left: -20px;
    border-radius: 1rem;
}

.vote-voted-cnt strong{
    color: white;
    font-size: 50px;
    font-family: "Keania One";
    font-weight: bold;
}

.vote-paint-img {
  width: 100%;
  height: 100%;
}

.vote-camera-wrap-left {
    display: flex;
    justify-content: center;

    position: absolute;
    left: -52%;

    border-radius: 1rem;
}

.vote-camera-wrap-right {
    display: flex;
    justify-content: center;

    position: absolute;
    right: -52%;

    border-radius: 1rem;
}

.vote-camera-wrap-right video {
    width: 260px;
}

.vote-camera-wrap-left video {
    width: 260px;
}