.inner {
  flex-direction: column;
}

.game.container {
  /* background-color: rgb(153, 114, 64); */
  width: 100%;
  height: 100%;
}

.game .left-section {
  width: 20%;
  height: 100%;
  /* background-color: aqua; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.game .center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: antiquewhite; */
}

.game2_border {
  display: flex;
  align-items: center;
  justify-content: center;

  flex-direction: column;
  background-color: white;
  text-align: center;
  padding: 2rem;

  background-color: white;
  border-radius: 1rem;
  /* filter: drop-shadow(0px 10px 10px #4444dd); */
  margin: 0 auto;
}

.titleContainer {
  margin-bottom: 3rem;
}

.titleContainer strong {
  font-family: "Keania One";
  font-size: 3rem;
  font-weight: 900;
  color: rgb(0, 0, 0);
  /* filter: drop-shadow(5px 5px 5px gray); */
}

.imageBtnContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  margin: 1rem;
}

.previewImage,
.findDiffrence {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  max-width: 75rem;
  max-height: 35rem;
  min-width: 75rem;
  min-height: 35rem;

  background-color: white;
  border-radius: 1rem;
  /* filter: drop-shadow(0px 10px 10px #4444dd); */
  margin-bottom: 2rem;
}

.previewImage{
  position: relative;
}

#upload-img {
  height: 100%;
  width: auto;
  /* position: absolute;
  top: 0;
  left: 0; */
  object-fit: cover;
}

.game2-canvas-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  box-sizing: content-box;
  width:auto;
  /* max-height: 35rem; */
}

.game2-canvas-image{
  min-height: 35rem;
  max-height: 35rem;
}

.swiperSlide {
  width: 100%;
  height: 500px;
  border: 1rem solid transparent;

  max-height: 35rem;
  min-height: 35rem;

  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.slide-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.findDiffrence:hover {
  /* cursor: url("/images/cursor_1.png") 20 30, auto !important; */
}

.swiper-button-next {
  width: 1rem;
  height: 1rem;
  text-shadow: 3px 4px 5px blue;
}

.swiper-button-prev {
  width: 1rem;
  height: 1rem;
  text-shadow: 3px 4px 5px blue;
}

.swiper-parent {
  width:100%;
}
