@font-face {
  font-family: 'LonelyCoffee';
  src: url('/font/LonelyCoffee.ttf') format('truetype');
}
@font-face {
  font-family: 'DOSGothic';
  src: url('/font/DOSGothic.ttf') format('truetype');
}
.playerResult {
  width: 100%;

  display: flex;

  border-radius: 30px;
}
.playerResult * {
  text-align: center;
  font-size: 2rem;

  height: 90%;

  display: flex;
  justify-content: center;
  align-items: center;
}
.game2-result .leftItem {
  background-image: url('/images/game/game2/medal.png');
  background-position: center;
  background-size: 150px 150px;

  margin-top: 22px;
  padding-top: -3px;
}
.game2-result .leftItem.highlight {
  border: 5px solid black;
}
.game2-result .leftItem p {
  font-family: 'LonelyCoffee';
  font-size: 2.7rem;

  display: inline;
  padding-top: 13px;
}
.game2-result .rightItem {
  background-color: #ffffff5c;

  width: 75%;

  border-radius: 30px;
  margin-left: 20px;

  font-family: "DOSGothic" ,"Keania One";
}
.game2-result {
  height: 70px;
}
.game2 .playerResult {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.game2-result .leftItem {
  height: 100px;
  width: 100px;
}