.menu_bar {
  display: flex;
  gap: 10px;
  margin: 10px 0px;
}

.menu_bar select {
  background-color: rgb(236, 236, 236);
  border: none;
  border-radius: 5px;

  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
}

.menu_bar button {
  flex: 1;
}