.BoardItem {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  cursor: pointer;
}

.BoardItem .BoardItem-left {
  display: flex;
}

.BoardItem .img_section {
  display: flex;
  align-items: center;
  margin-right: 15px;
}
.BoardItem .img_section img {
  width: 30px;
  height: 30px;
}

.BoardItem .info_section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.BoardItem .info_section span {
  font-size: 20px;
}
.BoardItem .info_section .tag {
  color: #6a7686;
  font-size: 16px;
}

.BoardItem .BoardItem-right {

}

.BoardItem .button_section {

}
